@import url('./normalize.css');
@import url('./icons.css');

body {
    background-color: #f1eed9;
}

.container {
    align-items: center;
    color: #46433A;
    display: flex;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    justify-content: center;
    margin: auto 10%;
}